@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya';
  font-weight: 600;
}

@mixin containerM {
  width: 90%;
  margin: auto;
}

@mixin containerD {
  width: 80%;
  margin: auto;
}

/* ----------------------- HEADER --------------------- */
.testing{
  padding-top: 10rem;
  color: black;
}
.reveal{
  font-size: 1.4rem;
  text-align: center;
}

.main-header{
  background: linear-gradient(#5f5e5ec7, transparent 80% ),  url('../images/Landing\ pic.jpg') no-repeat center/cover fixed ;
  height: 100vh;
  color: #ffffff;
  // font-size: .875rem
}

.inner-header{
  @include containerM();
  padding-top: 5vh;
}

.sub-header{
  // display: flex;
  // flex-direction: column;
  padding-top: 10vh;
  & h2{
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-size: 1.8rem;
  }
  & p{
    // padding-bottom: 13vh;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;  
  }
  & h2 span{
    color: #3F0886 ;
  }
  & span,
  .scroll{
    color: #d3cece;
  }
  & .scroll{
    position: absolute;
    bottom: 0;
    // transform: translateY(200%);
    // display: inline-block;
  }
}


// @media (min-width: 576px) and  (max-width: 767px) {
//   .sub-header{
//     padding-top: 6vh;
//     @include containerD
//   }
// }

@media (min-width: 768px) and (max-width: 1024px){
  .reveal{
    font-size: 1.3rem;
  }

  .sub-header{
    & h2{
      font-size: 1.7rem;
    }
    & p{
      font-size: 1rem;
      padding-bottom: 2rem;
    }
  }
}

@media  (min-width: 1025px) and (max-width: 1440px){
  .reveal{
    font-size: 2rem;
  }

  .sub-header{
    width: 50%;
    padding-bottom: 2vh;
    & h2{
      font-size: 2.5rem;
    }
    & p{
      font-size: 1.2rem;
    }
  }
}








