@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya';
  font-weight: 600;
}

@mixin containerM {
  width: 90%;
  margin: auto;
}

@mixin containerD {
  width: 80%;
  margin: auto;
}

/* ----------------------- HEADER --------------------- */
.testing{
  padding-top: 10rem;
  color: black;
}
.reveal{
  font-size: 1.4rem;
  text-align: center;
}

.main-header{
  background: linear-gradient(#5f5e5ec7, transparent 80% ),  url('../images/Landing\ pic.jpg') no-repeat center/cover fixed ;
  height: 100vh;
  color: #ffffff;
  // font-size: .875rem
}

.inner-header{
  @include containerM();
  padding-top: 5vh;
}

.sub-header{
  // display: flex;
  // flex-direction: column;
  padding-top: 6vh;
  & h2{
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-size: 1.8rem;
  }
  & p{
    font-size: 1.1rem;
    font-style: normal;
    font-weight: normal;  
  }
  & h2 span{
    color: #3F0886 ;
  }
  & span,
  .scroll{
    color: #d3cece;
  }
  & .scroll{
    display: inline-block;
    padding-top: 3rem;
  }
}


/* ----------------------- Who Are WE --------------------- */

.aboutIntergr8{
  @include containerM();
  text-align: center;
  padding-top: 2.375rem;
  & p{
    padding-bottom: 2rem;
    padding-top: .5rem;
  }
  & h2{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
  }

  & img{
    border: 2px solid #FF725E;
    padding: .4rem;
    border-radius: 50%;
  }
  &-inner{
    color: #666666;
    font-weight: 400;
  }
}

.headline{
  background-color: #0000FF;
  height: .2rem;
  width: 30%;
  margin: auto;
  margin-bottom: 1.3rem;
}


  /* -----------------------VisMis OVERLAY --------------------- */

.content{
  @include containerM();
  text-align: center;
}

.photo-container {
  img{
    width: 100%;
  }
  & p{
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}

.photo{
  position: relative;
	line-height: 0;
	margin-bottom: 2em;
  overflow: hidden;

  &-overlay{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;

    display: flex; /* For centering text inside .photo-overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
    & p{
      line-height: 2.4;
      font-weight: 400;
      font-size: .9rem;
    }
  }
}

.slide .photo-overlay {
	opacity: 1;
	background: #3F0886;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

.slide .photo-overlay,
.slide img {
	transition: transform .6s ease-out;
}

.slide .photo-overlay {
	transform: translateX(-100%);
}

.slide:hover .photo-overlay {
	transform: translateX(0);
}

.slide:hover img {
	transform: translateX(100%); 
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


@media (min-width: 768px) and (max-width: 1024px){
  
  /* ----------------------- HEADER --------------------- */
  
  .reveal{
    font-size: 1.3rem;
  }

  .sub-header{
    & h2{
      font-size: 1.7rem;
    }
    & p{
      font-size: 1rem;
      padding-bottom: 2rem;
    }
  }

  .scroll{
    position: absolute;
    bottom: 0;
  }

  /* ----------------------- Who Are WE --------------------- */

  .aboutIntergr8-inner{
    font-size: 1.1rem;
  }

  .services{
    display: flex;
    flex-wrap: wrap;
    & >*{
      flex: 1 1 200px;   
      margin: .9rem; 
    }
    // & p{
    //   font-size: 2rem;
    // }
  }

  .headline{
    width: 10%;
  }

  /* ----------------------- VisMis OVERLAY --------------------- */


  .content{
    width: 60%;
  }

  .photo-overlay p{
    font-size: 1.1rem;
  }

  .photo-container p{
    font-size: 1.2rem;
  }

}

@media  (min-width: 1025px) and (max-width: 1440px){
 
 /* ----------------------- HEADER --------------------- */

 
  .reveal{
    font-size: 2rem;
  }

  .sub-header{
    width: 50%;
    padding-bottom: 2vh;
    & h2{
      font-size: 2.5rem;
    }
    & p{
      font-size: 1.2rem;
    }
  }

  .scroll{
    position: absolute;
    bottom: 0;
  }


  /* ----------------------- Who Are WE --------------------- */


  .services{
    display: flex;
    flex-wrap: wrap;
    & >*{
      flex: 1 1 10px;   
      margin: .9rem; 
    }
  }

  .headline{
    width: 5%;
  }

  .aboutIntergr8-inner{
    width: 80%;
    margin: auto;
  }
  /* -----------------------VisMis OVERLAY --------------------- */

  .photo-overlay p{
    font-size: 1.1rem;
  }

  .visMisBiz{
    display: flex;
    flex-wrap: wrap;
    @include containerM();
    & >*{
      flex: 1 1 10px;   
      margin: .9rem; 
    }
  }
}

